# Ignore large model and DB artifacts
notebooks/db_chroma/
notebooks/lora-Qwen2.5-7B/
data/db_chroma/
data/lora-Qwen2.5-7B/
# Ignore large model and DB artifacts
notebooks/db_chroma
notebooks/lora-Qwen2.5-7B
data/db_chroma
data/lora-Qwen2.5-7B